#chrome_the_website_ip {
	position: fixed;
	bottom: 3px;
	background: #d9ead3;
	padding: 4px 5px;
	border: 1px solid #919191;
	font-size: 12px;
	color: #333;
	font-family: 'Arial', Helvetica, sans-serif;
	cursor: default;
	z-index: 9999;
	line-height: 1;
	outline: 0;
	vertical-align: baseline;
	margin: 0;
	-webkit-touch-callout: none; 
	-webkit-user-select: none; 
	user-select: none;
	z-index: 2147483646;
	opacity: 0.9;
}

.chrome_the_website_ip_right {
	right: 10px;
}

.chrome_the_website_ip_left {
	left: 10px;
}

/* hide if in print view */
@media print {
      #chrome_the_website_ip {display:none;}
}